<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lessons</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="list.css"/>
</head>
<body>
    <h2 th:text="'Lessons for ' + ${course.name}"></h2>
    <a th:href="@{'/lessons/course/' + ${course.id} + '/add'}">Add Lesson</a>
    <ul>
        <li th:each="lesson : ${lessons}">
            <a th:href="@{'/lessons/' + ${lesson.id}}" th:text="${lesson.title}"></a>
        </li>
    </ul>
    <a th:href="@{'/courses/' + ${course.id}}">Back to Course</a>
</body>
</html>