<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="register.css"/>
</head>
<body>
    <form id="registerForm">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" required>
        </div>
        <div>
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName">
        </div>
        <div>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName">
        </div>
        <div id="error-message" style="color: red;"></div>
        <button type="submit">Register</button>
    </form>

    <script src="./AuthService.js"></script>
    <script src="./register.js"></script>
</body>
</html>