<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PDF Details</title>
     <link rel="stylesheet" th:href="@{/css/style.css}" href="detail.css"/>
</head>
<body>
    <h2 th:text="${pdf.fileName}"></h2>
    <p>Uploaded by: <span th:text="${pdf.user.username}"></span></p>
    <p>Course: <span th:text="${pdf.course.name}"></span></p>
    <p>Average Rating: <span th:text="${pdf.averageRating}"></span> (Votes: <span th:text="${pdf.voteCount}"></span>)</p>
    <a th:href="@{'/uploads/' + ${pdf.filePath}}" target="_blank">Download PDF</a>
    <form th:action="@{'/ratings/pdf/' + ${pdf.id}}" method="post">
        <label>Rate this PDF:</label>
        <select name="value">
            <option th:each="i : ${#numbers.sequence(1,5)}" th:value="${i}" th:text="${i}"></option>
        </select>
        <button type="submit">Rate</button>
    </form>
    <a href="/">Back</a>
</body>
</html>