.neha{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;

    text-align: justify;
    text-transform: capitalize;
    text-decoration: underline dotted red;

    color: blue;
    letter-spacing: 5px;
    word-spacing: 50px;
}

{
    
}

.pan{
    font-size: 22px;
    font-weight:500;
    
    color: violet;

}

#viv{
    font-variant-caps: all-petite-caps;
}